<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <ul class="navbar-nav" *ngIf="!utilisateurConnect">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/utilisateur']" routerLinkActive="active">Se Connecter</a>
      </li>
        
  </ul>
  <ul class="navbar-nav" *ngIf="utilisateurConnect.type=='PRATICIEN'">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/praticien']" routerLinkActive="active">Accueil</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/praticien']" routerLinkActive="active">Accueil</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/praticien']" routerLinkActive="active">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/praticien']" routerLinkActive="active">Accueil</a>
  </li>

      
</ul>
<ul class="navbar-nav" *ngIf="utilisateurConnect.type=='PATIENT'">
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/patient']" routerLinkActive="active">Se Connecter</a>
  </li>
    
</ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>